@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1>Get to Know Joel</h1>

<h2>
    Joel performs regularly with
    <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>.
</h2>

<h2>
    Listen to his podcast at
    <a href="https://baconsale.com/" target="_blank">Baconsale</a>.
</h2>

<a href="https://baconsale.com/" target="_blank">
    <img src="~/images/BaconsaleKate.jpg"
         alt="Baconsale" class="img-fluid" />
</a>

